<ul>
        {%for message in conversation.message_set.all %}
            	{%if message.direction == 1%}
                	<li class="replies">
            	{%else%}
                	<li class="sent">    
            	{%endif%}
                  	<p><strong>{{message.message_text}}</strong><span class="time-meta pull-right">{{message.created|date:'d-m-y H:i'}}</span></p>
            	</li>
        {%endfor%}   		
	</ul>     
<script>
    $(".messages").animate({ scrollTop: $(document).height() }, "fast");
</script>
      
