{% extends "base.html" %}
{%block head_content%}
<title>Envio de Whatsapp</title>
{% endblock %}
{% block container %}
  <div class="container-fluid">
    <form action="https://www.waboxapp.com/api/send/chat" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="token" value="{{token}}"/>
      <input type="hidden" name="uid" value="{{uid}}"/>
      <input type="hidden" name="source_uid" value="{{source_uid}}"/>
      <div class="form-group">
        <label>Numero Destino</label>
        <input type="text" name="to" class="form-control"/> 
      </div>
      <div class="form-group">
        <label>Mensaje</label>
        <textarea name="text" class="form-control">
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
{% endblock %}
